<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ITEM_CREATE_TITLE' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        {{ 'CANCEL_BUTTON' | translate }}
      </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="node-image-wrapper" (click)="getPicture()">
      <div class="node-image-placeholder" *ngIf="!this.form.controls.img.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="node-image" [style.backgroundImage]="getImageStyle()" *ngIf="this.form.controls.img.value"></div>
    </div>
    <ion-list class="main-pad">
      <ion-item>
        <ion-label floating>{{ 'NODE_ID' | translate }}</ion-label>
        <ion-input type="text" formControlName="node" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'TREE_ID' | translate }}</ion-label>
        <ion-input type="text" formControlName="tree"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'STAGE' | translate }}</ion-label>
        <ion-select interface="popover" formControlName="stage">
          <ion-option value="BBCH 52">BBCH 52</ion-option>
          <ion-option value="BBCH 53">BBCH 53</ion-option>
          <ion-option value="BBCH 57">BBCH 57</ion-option>
          <ion-option value="BBCH 65">BBCH 65</ion-option>
          <ion-option value="BBCH 70">BBCH 70</ion-option>
          <ion-option value="BBCH 75">BBCH 75</ion-option>
          <ion-option value="BBCH 79">BBCH 79</ion-option>
          <ion-option value="BBCH 88">BBCH 88</ion-option>
        </ion-select>
      </ion-item>
      <ion-buttons padding>
          <button round block ion-button (click)="done()" [disabled]="!isReadyToSave" strong>Done</button>
        </ion-buttons>
    </ion-list>
    
  </form>
</ion-content>